body {
  background-color: #181c1d;
}

h1 {
  text-align: center;
  font: 60px "MyriadPro-Bold";
  color: #a69778;
  margin: 0px 35px;
}

section {
  width: 840px;
  margin: 0px auto;
}

h2, h3, h4, h5, address {
  color: #ccc;
  font-family: "MyriadPro-Bold";
}

address, h2 {
  font-size: 21px;
}

article {
  margin-top: 20px;
  margin-bottom: 10px;
}

article p, article address {
  color: #ccc;
  font: 18px "MyriadPro-Bold";
}

img {
  max-width: 840px;
}